<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="10 seconds">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %p [%t] %c - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="org.mbari.vcr" level="ERROR" />
    <logger name="vars.jpa" level="ERROR" />
    <logger name="vars.annotation.DatabaseUtility" level="DEBUG" />
    <logger name="org.mbari.vars.integration.MergeEXPDAnnotations" level="WARN" />
    <logger name="mbarix4j.sql.QueryableImpl" level="DEBUG" />
    <logger name="org.mbari.vars.varspub" level="INFO" />
    <logger name="org.mbari.vars.varspub.AnnoImageMigrator2" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
