{% include head.html %}

    <header>
          <div class="inner">
            <h1>VARS</h1>
            <h2>{{ page.title }}</h2>
            <a href="https://github.com/hohonuuli/vars" class="button"><small>View project on</small>GitHub</a>
          </div>
        </header>
        <div id="content-wrapper">
            <div class="inner clearfix">
              <section id="main-content">
                  {{ content }}
              </section>
            </div>
        </div>

{% include foot.html %}